:root {
    --color-primary: #404999;
    --color-primary-dark: #3a428a;
    --color-secondary-purple: #C6C7F8;
    --color-purple-2: #4B20F7;
    --color-text: #000;
    --color-text-02: #00000033;
    --color-text-dark: #090909;
    --color-text-secondary: #fff;
    --color-light-grey: #A1A0A0;
    --color-dark-grey: #595959;
    --color-message-grey: #525252;
    --color-placeholder-grey: #c5c5c5;
    --color-file-grey: #7e7e7e;
    --color-border: #6d6d6d33;
    --color-border-hover: #6d6d6d80;
    --color-background: #fff;
    --color-scrollbar: #e1d6d6;
    --color-scrollbar-hover: #a8bbbf;
    --color-red: #ff0000;
    --color-btn-border: #cccccc;
    --color-btn-hover-bg: #cccccc1a;
    --color-btn-danger: #ff4136;
    --color-btn-danger-dark: #ff3227;
    --color-files-scrollbar: #1b2631;
    --color-file-uploaded: #266d4d;
    --color-files-size-grey: #a3a3a3;
    --color-sidebar-grey: #555;
    --color-citation-border: #40499933;
    --color-citation-file: #F8F8FB;
    --color-border-grey: #DCD9E2;
    --color-border-grey2: #e2e2e2;
    --color-login-title: #2B3640;
    --color-grey-3: #e8e8e8;
    --color-grey-4: #D9D9D9;
    --color-folder-bg: #F0F3F9;
    --color-directory-bg: #F0F2F9;
    --background-light: #FBFBFB;
    --gradient-primary: linear-gradient(172deg, rgba(75, 32, 247, 0.05) 1.38%, rgba(169, 0, 247, 0.05) 98.62%);
    --gradient-secondary: linear-gradient(172deg, rgba(75, 32, 247, 0.1) 1.38%, rgba(169, 0, 247, 0.1) 98.62%);
    --gradient-citation: radial-gradient(13.59% 9.26% at 50% 50%, rgba(75, 32, 247, 0.05) 0%, rgba(169, 0, 247, 0.05) 100%);
}